__pycache__/

runtime/
.venv/

*_pretrain/
crepe/assets/full.pth

chkpt/
data_svc/
dataset_raw/
files/
logs/

sovits5.0.pth
svc_out_pit.wav
svc_out.wav
svc_tmp.pit.csv
svc_tmp.ppg.npy
svc_tmp.vec.npy
test.wav

so-vits-svc-5.0-*.zip